[submodule "vendor/cmrc"]
	path = vendor/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/SFML"]
	path = vendor/SFML
	url = https://github.com/SFML/SFML.git
